--swiftversion 5.9
--indent 4
--maxwidth 120
--allman false
--commas inline
--trimwhitespace always
--stripunusedargs closure-only
--self remove
--importgrouping testable-bottom
--exclude .build,DerivedData,**/*.xcodeproj

--enable isEmpty
--enable redundantSelf
--enable redundantType
--enable redundantReturn
--enable redundantParens
--enable sortedImports
--enable trailingCommas
--enable wrapArguments

--disable andOperator
